
    /* Título se oculta al hacer pequeño */
    @media only screen and (max-width: 768px) {
      .titulo {

        font-size:small;

      }


    }

    .titulo {
        font-weight:400;

    }

    .mainSliderText{
      float: none;
  margin: auto;
  margin-bottom: 10%;
  width: 50%;




    }

    .mainSliderTextFirst{
      background-image: radial-gradient(rgba(46,64,102,1), rgba(0,0,0,0));


    }

    .mainSliderTextSecond{
      background-image: radial-gradient(rgba(174,164,154,1), rgba(0,0,0,0));

    }

    .servicios {

      background-image: linear-gradient(rgba(255, 0, 0, 0), rgba(194, 208, 212, 1), rgba(255, 0, 0, 0));

    }

    .serviciosCards{
      border-color: rgba(27, 132, 189, 1);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.4);
    }

    .logosServicios{
      width:50%;
      margin:auto;
    }


    /* google maps */

    .map-container-6 {
      overflow: hidden;
      padding-bottom: 56.25%;
      position: relative;
      height: 0;
    }

    .map-container-6 iframe {
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      position: absolute;
    }


    .modalHeader {
      background-color: rgba(194, 208, 212, 1);

    }

    .btnESM{
      background-color:white;
      border-color:rgba(27, 132, 189, 1);
      color: rgba(27, 132, 189, 1);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.2);

    }

    .btnESM:hover{
      color: white;
      background-color:rgba(27, 132, 189, 1);
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    .footer {

      background-color: grey;
    }